.navigation-menu{
    /* background-color: aqua; */
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    cursor: pointer;
}
.navigation-menu li{
    color: #FCFCFC; 
    font-family: 'DM Sans', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    letter-spacing: 0.85px;
    text-transform: uppercase;
    margin: 0 20px;
}
.navigation-menu li a:hover{
    color: goldenrod;
} 
.navigation-menu li a{
    text-decoration: none;
    color: white;   
}

/* bg */
.background{
    background-image:url('../assets/bg.png');
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.background h1{
    color: #FFF;
    text-align: center;
    font-family:  'Marcellus', serif;
    font-size: 86px;
    font-style: normal;
    font-weight: 400;
    line-height: 110px; /* 127.907% */
    text-transform: uppercase;
}
.background p{
    color: #FCFCFC;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3px;
    text-transform: uppercase;
}
/* contact us section  */
.contactus-section{
    width: 80%;
    margin: auto !important;
    height: 300px;
    align-items: center;
    justify-content: center;
    padding-top: 5%;

}
.contact-us-sec .con{
    display: flex;
    align-items: center; 
}
.contact-us-sec .con h6{
    color: #141413;
    font-family: 'Marcellus', serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-left: 2%;
    margin-top: 2%;
}
.contact-us-sec h2{
    color: #0C0F26;
    font-family: 'Marcellus', serif;
    /* font-size: 45px; */
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: 52px; /* 115.556% */
    width: 80%;
}
.con-icon {
    display: flex;
    gap: 5%;
    height: 100px;
}
.con-icon img{
    width: 50px;
    height: 50px;
}
.con-icon-heading{
    color: #0C0F26;
    font-family: 'Marcellus', serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px; /* 120% */
}
.con-icon-p{
    color: #515151;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 138.889% */ 
}
.email{
    display: flex;
    flex-direction: row;
    gap: 4%;
}
.email img{
    width: 15px;
    height: 15px;
    margin-top: 8px;
}


.form-section{
    background: #E7E7E7;
    background-size: cover;
} 
.form{
    width: 90%;
    margin: auto;
    margin-top: 10%;
}

.contact h4{
    color: #0C0F26;
    font-family: 'Marcellus', serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 52px;  
}
.contact p{
    color: #515151;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 138.889% */
}
.contact-f label {
    color: #000;
}
.contact-f input {
    width: 100%;
    border-bottom: 1px solid #000;
}
.contact-f input:hover { 
    border-bottom: 1px solid #000;
}
.contact-f button{
    margin-top: 10%;
    width: 190px;
    height: 64px;
    flex-shrink: 0;
    background-color:#141413 ;
    color: #FFF;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;  
    letter-spacing: 0.72px;
    text-transform: uppercase;
}
.contact-f button:hover{
    background-color:rgb(183, 183, 25) ;
    color: #000;
}

/* footer sec */
.footer-section{
    height: 500px;
    background: #202020;
    background-size: cover;
}
.footer-sec{
    padding-top: 5%;
    width: 80%;
    height: 100px;
    margin: auto;
    /* background-color: aqua; */
}

.newsletter h4, .footer-heading{
    color: #FFF;
    font-family: 'Marcellus', serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 54px; /* 207.692% */
    text-transform: uppercase;
}

.social{
    display: flex;
    gap: 5%;
}
.social-icon{
    height: 54px;
    width: 54px;
    background-color: #fff; 
    text-align: center;
    position: relative;
}
.social-icon img{
    position: absolute;
    /* margin-top: 25%; 
    margin-left: 25%;   */
    
}


.menu-list li{
    text-align:start ; 
    margin-left: -13%;
    color: #FFF; 
    font-family:'DM Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px; /* 194.444% */
}

.hello-email{
    display: flex;
    flex-direction: row;
    gap: 4%;
}
.hello-email p{
    color: #FFF;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* margin: revert; */
    margin-top: 4%;
    line-height: 26px;

}
.hello-email img{
    /* width: 15px;
    height: 15px;
    margin-top: 8px; */
}


@media screen and (min-width: 320px) and (max-width: 600px) { 
    .background h1{
        font-size: 46px;  
    }
    .contactus-section,.con-icon{
        height: auto;
    }
    .footer-section{
        height: auto;
    }
    .footer-sec{
        height: auto;
    }
}